NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_BLUEPRINT_BOOKING_URL=https://cal.com/matt-noone-avjm8m/blueprint
NEXT_PUBLIC_STRIPE_COACHING_PAYMENT_LINK=https://buy.stripe.com/3cIfZi2oT2YYet3flr1kA01
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL_URL=https://billing.stripe.com/p/login/14AeVegfJeHGacNehn1kA00
NEXT_PUBLIC_DISCORD_INVITE_URL=https://discord.gg/NQeegWAAJM
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=Game Dev Glory <info@gamedevglory.com>
POSTMARK_MESSAGE_STREAM=outbound
FREE_QUESTION_TO_EMAIL=info@gamedevglory.com
